html { 
    background: url(assets/img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
  }

  .icon img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 919px;
    z-index: -1;
  }

  .sse {
    z-index: 9;
  }

  .sidebar img {
    position: absolute;
    top: 0;
    right: 0;
    height: 919px;
    animation-name: castle;
    animation-duration: 4s;
    z-index: -1;
  }

body {
    color: white;
    font-size: 21px;
    padding: 0;
    margin: 0;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.box1 {
  width: 46%;
}

.box2 {
  width: 37%;
  padding-top: 15%;
}

.box3 {
  background-color: #07039D;
  opacity: 75%;
  height: 100vh;
  width: 17%;
}

.titleText {
  font-weight: bold;
  font-size: 72px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.logo{
  width: 133px;
  position: absolute;
  top: 20px;
  left: 60px;
}

abbr {
  text-decoration: none;
}

.ShowBox {
  display: flex;
  gap: 10%;
}

@media only screen and (min-width: 1921px) {

      .icon img {
        position: absolute;
        bottom: 0px;
        left: 0;
        height: 1279px;
        animation-name: castle;
        animation-duration: 4s;
      }

      .sidebar img {
        position: absolute;
        top: 0;
        right: 0;
        height: 1279px;
        animation-name: castle;
        animation-duration: 4s;
      }

      body {
        font-size: 32px;
    }

    .titleText {
      font-weight: bold;
      font-size: 108px;
      position: absolute;
      top: 50px;
      left: 50px;
    }

    .logo {
      width: 200px;
      position: absolute;
      top: 20px;
      left: 60px;
    }
}